html body{
	padding: 0;
	margin: 0;
	background: #000;
}


.header{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.header__logo img{
	width: 50px;
	max-width: 100%;
	max-height: 100%;
}
.icon{
	display: none;
}

.header__logo{
	margin-top: 10px;
}

.topnav{
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
}

.topnav a{
	padding: 12px 16px;
	font-size: 20px;
}

@media screen and (max-width: 900px) {
	.topnav a{
		display: none;
	}


	nav{
		width: 80%;
	}
	.topnav{
		display: flex;
		justify-content: end;
	}

	.topnav a.icon{
		
		float: right;
		display: block;
		color: #fff;
		font-size: 25px;
	}

	.topnav.responsive{
		color: #fff;
		position: relative;
		top: 50px;
		left: -100px;
		flex-direction: column;
		padding-bottom: 20px;
	}

	.header .topnav.responsive{
		color: #fff;

		height: 340px;
	}

	.topnav.responsive a.icon{
		position: absolute;
		top: -50px;
		right: -100px;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: center;
	}

}